:root {
    --dark: #6b8bd4;
    --dark-x: #ffffff;
    --light: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.text-light {
    color: var(--light) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-x {
    background-color: var(--dark-x);
}

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}

.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.img-1 {
    background-image: url('../img/register/charlesdeluvio-Lks7vei-eAg-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('../img/register/marten-bjork-rH8O0FHFpfw-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.color{

    color: #000;

}